<div>
  <h3 class="w3-padding-16">My Skills</h3>

  <p class="w3-wide">C#</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-blue w3-hover-green" style="width:85%"></div>
  </div>
  <p class="w3-wide">ASP.NET MVC</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-pink w3-hover-green" style="width:85%"></div>
  </div>
  <p class="w3-wide">ASP.NET CORE</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-cyan w3-hover-green" style="width:13%"></div>
  </div>
  <p class="w3-wide">Entity Framework CORE</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-cyan w3-hover-green" style="width:60%"></div>
  </div>
  <p class="w3-wide">LINQ</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-blue w3-hover-green" style="width:60%"></div>
  </div>
  <p class="w3-wide">SQL SERVER, Oracle 12C</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-red w3-hover-green" style="width:70%"></div>
  </div>
  <p class="w3-wide">JAVASCRIPT</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-blue w3-hover-green" style="width:40%"></div>
  </div>
  <p class="w3-wide">JQUERY</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-pink w3-hover-green" style="width:70%"></div>
  </div>
  <p class="w3-wide">ASPNET CORE</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-cyan w3-hover-green" style="width:73%"></div>
  </div>
  <p class="w3-wide">Angular 9</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-pink w3-hover-green" style="width:40%"></div>
  </div>
  <br>
  <hr style="width:500px" class="w3-opacity">
  <p class="w3-wide">C</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-blue w3-hover-green" style="width:70%"></div>
  </div>
  <p class="w3-wide">Data Structures</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-cyan w3-hover-green" style="width:65%"></div>
  </div>
  <p class="w3-wide">Core Java</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-pink w3-hover-green" style="width:72%"></div>
  </div>
  <br>
  <hr style="width:500px" class="w3-opacity">
  <p class="w3-wide">Web Design</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-blue w3-hover-green" style="width:46%"></div>
  </div>
  <p class="w3-wide">Azure Dev Ops</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-red w3-hover-green" style="width:20%"></div>
  </div>
  <p class="w3-wide">Azure PAAS / SAAS / Integration (Currently Learning)</p>
  <div class="w3-progress-container w3-round">
    <div class="w3-progressbar w3-round w3-blue w3-hover-green" style="width:10%"></div>
  </div>
  <br>
  <hr style="width:500px" class="w3-opacity">

  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey w3-hover-pink">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">5+</span><br>
      Projects Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">4+</span><br>
      Certifications
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">6+</span><br>
      Events Organized
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">3+</span><br>
      Seminars
    </div>
  </div>

  <button class="w3-btn w3-light-grey w3-padding-large w3-section w3-hover-green">
    <a href="mdmehdiimam_May2020.pdf" target="_blank"> <i class="fa fa-download"></i> Download Resume </a>
  </button>
  <hr style="width:500px" class="w3-opacity">
  <!-- Grid Interpersonal skills -->
  <h3 class="w3-padding-16 w3-text-light-grey">Interpersonal Skills</h3>




  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey w3-hover-green">
    <div class="w3-half w3-section">
      <span class="w3-xlarge">MANAGEMENT</span><br>
      •	Participated as core organizing committee in various technical and cultural events in college.<br />
      •	Sincere cooperative and positive attitude.

    </div>
    <div class="w3-third w3-section">
      <span class="w3-xlarge">ADAPTIVE</span><br>
      •	Able to work in any environment and circumstances.
    </div>


  </div>


</div>
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  <a href="https://facebook.com/007killyou" target="_blank"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a> |
  <a href="https://www.instagram.com/imdmehdi/" target="_blank"><i class="fa fa-instagram w3-hover-text-purple"></i></a> |
  <a href="https://www.instagram.com/imdmehdi/" target="_blank"><i class="fa fa-snapchat w3-hover-text-yellow"></i></a> |
  <a href="https://www.instagram.com/imdmehdi/" target="_blank"><i class="fa fa-pinterest-p w3-hover-text-red"></i></a> |
  <a href="https://twitter.com/MdimamMehdi" target="_blank"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a> |
  <a href="https://www.linkedin.com/in/mdmehdiimam/" target="_blank"><i class="fa fa-linkedin w3-hover-text-indigo"></i><br /></a>
  <br />

  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>


  <i class="fa fa-copyright w3-hover-text-red"> 2020 Md Mehdi Imam.</i>
  <!-- End footer -->
</footer>
