<div>
  <h1>Mehdi!</h1>
  <img src="Images/img01.jpg" style="width:auto;height:600px;float:right;margin:05px" />
  <p>
    Hello, I’m Md Mehdi Imam, an IT professional based in Pune, India with experience in Enterprise web application development using Microsoft Technologies. Good Hands-on experience on C#, .NET Framework, ASP.NET CORE, ASP.NET MVC, SQL Server, Entity Framework and Jquery.
   </p><p> My friends also call me Momi.
  </p>
  <p>
    I enjoy the art of creating. I Discovered my passion lies in "Creating solutions with technology". Curiosity has been my biggest teacher.
  </p>
  <h2>
    Professional Summary:
   </h2>
  <ul>
    <li>4 Year of experience in web development.</li>
    <li>
      Excellent algorithm & problem-solving skills. Good hands on experience in Designing,
      Development, Debugging and Maintenance of Applications
    </li>
    <li>
      Hands on experience in developing reusable components using Object Oriented
      Techniques and Solid principles with good system design skills.
    </li>
    <li>
      Working knowledge of C#, WEB API, WCF, ASP.NET MVC, ASP.NET CORE, Microservices, jQuery
      development and debugging using visual studio.
    </li>
    <li>
      Experience in Azure Web aps, Azure dev ops portal, CICD
      integration. Development of serverless applications using Azure
      Functions, Logic Aps, Storage API’s.
    </li>
    <li>
      Hands on experience in developing systems built on SQL Server, Oracle using Tables, Views,
      Packages and Stored Procedures and maintaining the database.
    </li>
    <li>
      Flexible and ability to work with good enthusiasm, team spirit and have worked as per
      demanding situations.
    </li>
    <li>
      Strong knowledge and experience in Agile methodology.
    </li>
  </ul>
 
</div>
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
  <a href="https://facebook.com/007killyou" target="_blank"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a> | 
  <a href="https://www.instagram.com/imdmehdi/" target="_blank"><i class="fa fa-instagram w3-hover-text-purple"></i></a> | 
  <!--<a href="https://www.instagram.com/imdmehdi/" target="_blank"><i class="fa fa-snapchat w3-hover-text-yellow"></i></a> | 
  <a href="https://www.instagram.com/imdmehdi/" target="_blank"><i class="fa fa-pinterest-p w3-hover-text-red"></i></a> |--> 
  <a href="https://twitter.com/MdimamMehdi" target="_blank"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a> |
  <a href="https://www.linkedin.com/in/mdmehdiimam/" target="_blank"><i class="fa fa-linkedin w3-hover-text-indigo"></i><br /></a>
  <br />

  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>


  <i class="fa fa-copyright w3-hover-text-red"> 2020 Md Mehdi Imam.</i>
  <!-- End footer -->
</footer>
