<div>
  <h1>Know Me!</h1>
  <p>
    Hi., I’m Md Mehdi Imam, an IT professional with experience in Enterprise web application development using Microsoft Technologies. Good Hands-on experience on C#, .NET Framework, ASP.NET CORE, ASP.NET MVC, SQL Server, Entity Framework, Javascript, Jquery and Json.
    My friends also call me Momi.
  </p>
  <p>
    I enjoy the art of creating. I Discovered my passion lies in "Creating solutions with technology". Curiosity has been my biggest teacher.
  </p>
  <h2>
    Professional Summary:
   </h2>
  <ul>
    <li>3 Year 7 months of experience in web development.</li>
    <li>
      Microsoft.Net Framework experience in Designing, Development, Debugging and Maintenance of
      Enterprise Web Application.
    </li>
    <li>Hands on experience developing reusable components using Object Oriented Techniques</li>
    <li>
      Good knowledge on ASP .NET MVC, CORE, C#, WEB API, Microservices development and
      debugging using visual studio tool. Experience in Azure Web aps, Azure dev ops portal, CICD
      integration. Currently learning Function aps and Logic aps.
    </li>
    <li>
      Hands on experience in developing systems built on SQL Server, Oracle using Tables, Views,
      Packages and Stored Procedures in SQL and maintaining the database.
    </li>
    <li>Technical expertise in the jQuery and JavaScript and Fair Knowledge of Angular.</li>
    <li>
      Flexible and ability to work with good enthusiasm, team spirit and have worked as per demanding
      situations.
    </li>
  </ul>
 
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>
