<header>
  
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>MD Mehdi IMAM</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/'"> Home </a>
          <a mat-button [routerLink]="'/skills'"> Profile </a>
          <a mat-button [routerLink]="'/contactMe'"> Contact Me </a>


        </div>
      </mat-toolbar-row>

      <mat-toolbar-row >
        <marquee direction="left" style="font-size: 12px;" scrolldelay="100" behavior="loop"> Learner | Travel Enthusiast | Developer | Strategist | Implémenter | Motivator</marquee>
         
     
      </mat-toolbar-row>
    </mat-toolbar>
   
</header>
<mat-sidenav-container >
  <mat-sidenav #sidenav style="background-color:black;color:antiquewhite">
    <mat-nav-list>
      <a mat-button [routerLink]="'/'"> <img src="Images/1234.png" /> </a><br />
      <a mat-button [routerLink]="'/'"><p><i class="fa fa-home w3-xlarge"></i> &nbsp;&nbsp; Home</p> </a><br />
      <a mat-button [routerLink]="'/skills'"><p><i class="fa fa-book w3-xlarge"></i>&nbsp;&nbsp;Skills</p> </a><br />
      <a mat-button [routerLink]="'/contactMe'"><p><i class="fa fa-envelope w3-xlarge"></i>&nbsp;&nbsp; Contact Me</p> </a>
      <!--<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;" class="container" >

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  

