<header>
  
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>MD Mehdi IMAM</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/'"> Home </a>
          <a mat-button [routerLink]="'/counter'"> Profile </a>
          <a mat-button [routerLink]="'/fetch-data'"> Contact Me </a>


        </div>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row>
    </mat-toolbar>
   
</header>
<mat-sidenav-container >
  <mat-sidenav #sidenav style="background-color:black;color:turquoise">
    <mat-nav-list>
      <a mat-button [routerLink]="'/'"> <img src="Images/1234.png" /> </a><br />
      <a mat-button [routerLink]="'/'"> Home </a><br />
      <a mat-button [routerLink]="'/counter'"> Profile </a><br />
      <a mat-button [routerLink]="'/fetch-data'"> Contact Me </a>
      <!--<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;" class="container" >

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  

