/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
  margin-bottom: 12px
}
/* Set the width of the sidenav to 120px */
.w3-sidenav {
  width: 120px;
  background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */
#main {
  margin-left: 120px
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }
}

.blinker {
  font-family: muli,arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  animation: changecolor 5s infinite;
  -moz-animation: changecolor 5s infinite;
  -webkit-animation: changecolor 5s infinite;
  -ms-animation: changecolor 5s infinite;
  -o-animation: changecolor 5s infinite;
}

@keyframes changecolor {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}
/* Mozilla Browser */
@-moz-keyframes changecolor {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}
/* WebKit browser Safari and Chrome */
@-webkit-keyframes changecolor {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}
/* IE 9,10*/
@-ms-keyframes changecolor {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
}
/* Opera Browser*/
@-o-keyframes changecolor {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: blue;
  }

  100% {
    color: green;
  }
} 

